<div id="tyml_<%= tyml.id %>">
  <div class="tyml-container group">
    <% if tyml.viewed %>
      <div class="tyml-viewed" data-state="unread">
        <span><%= link_to 'Mark as unread', mark_as_read_url(tyml), :method => 'put' %></span>
      </div>
    <% else %>
      <div class="tyml-viewed" data-state="read">
        <span><%= link_to 'Mark as read', mark_as_read_url(tyml), :method => 'put' %></span>
      </div>
    <% end %>

  <header class="tyml-header">
    <nav>
      <%= link_to '!', like_or_unlike_url(tyml), :class => 'icon-like' + (tyml.liked ? ' liked' : ''), :method => 'put', :title => (tyml.liked ? 'Unlike' : 'Like'), :remote => true, id: "like_tyml_#{tyml.id}" %>
      <a class="reshare icon-share" href="#share" title="Reshare" data-behavior="share-tyml" data-url="<%= tyml.url %>">$</a>
      <%= link_to '"', archive_or_unarchive_url(tyml), :class => 'icon-archive', :method => 'put', :title => 'Archive', :remote => true %>
      <%= link_to '#', tyml_url(tyml), :class => 'icon-delete', :method => 'delete', :remote => true, :confirm => "Are you sure you want to delete this TYML?" %>
    </nav>

    <div class="tyml-profile-image"<% if tyml.sender.profile_pic? %> style="background-image: url(<%= tyml.sender.profile_pic %>)"<% end %>></div>

    <% if tyml.statement.blank? %>
      <p class="tyml-user"><%=  tyml.sender.name %> <span class="tyml-copy">thought you might like&hellip;</span></p>
    <% else %>
      <p class="tyml-user"><%=  tyml.sender.name %> <span class="tyml-copy">thought you might like this because&hellip;</span></p>
      <p class="tyml-because"><%= tyml.statement %></p>
    <% end %>
  </header>
  <div>
    <p class="tyml-url"><%=  link_to tyml.url, tyml.url, :title => tyml.url, :target => '_blank' %></p>
  </div>



  <div class="tyml-content-wrap">
    <div class="tyml-note">

      <time datetime="<%= tyml.created_at %>"><%= "#{time_ago_in_words(tyml.created_at)} ago" %></time>
    </div>

    <div class="comments-container">
      <div id="tyml_comments_<%= tyml.id %>">
        <% tyml_comments = tyml.comments %>
        <% unless (tyml_comments.empty?) %>
          <% tyml.comments.to_a.each do |comment| %>
            <%= render 'comments/comment', :comment => comment %>
          <% end %>
        <% end %>
      </div>
        <%= render 'comments/comment_form', :tyml => tyml %>
      </div>
    </div>
  </div>
</div>
