<div id="tyml_<%= tyml.id %>">

  <div class="tyml-container group" >

  <header class="tyml-header">
    <nav>
      <a class="reshare icon-share" href="#share" data-behavior="share-tyml" data-url="<%= tyml.url %>">$</a>
      <%= link_to '#', tyml_url(tyml), :class => 'icon-delete', :method => 'delete', :remote => true %>
    </nav>
    <% if tyml.receiver.profile_pic.blank? %>
      <div class="tyml-profile-image"><%= image_tag asset_path('default_avatar.png') %></div>
    <% else %>
      <div class="tyml-profile-image"><%= image_tag tyml.receiver.profile_pic %></div>
    <% end %>



    <% if tyml.statement.blank? %>
      <span class="tyml-copy">You thought <span class="tyml-user"><%= tyml.receiver.name.blank? ? tyml.receiver.email : tyml.receiver.name %></span> might like&hellip;</span>
    <% else %>
      <p class="tyml-copy">You thought <span class="tyml-user"><%= tyml.receiver.name.blank? ? tyml.receiver.email : tyml.receiver.name %></span> might like this because&hellip;</p>
      <p class="tyml-because"><%= tyml.statement %></p>
    <% end %>
    <p class="tyml-url"><%=  link_to tyml.url, tyml.url, :title => tyml.url, :target => '_blank' %></p>
  </header>

  <div class="tyml-content-wrap">
    <div class="tyml-note">

      <time datetime="<%= tyml.created_at %>"><%= "#{time_ago_in_words(tyml.created_at)} ago" %></time>
    </div>

      <div class="comments-container">
        <% tyml.comments.each do |comment| %>
          <%= render '/comments/comment', comment: comment %>
        <% end %>
        <%= render '/comments/comment_form', tyml: tyml %>
      </div>
    </div>
  </div>
</div>
