<div id="tyml_<%= tyml.id %>">
  <div class="tyml-container group">
    <% if tyml.viewed %>
      <div class="tyml-viewed" data-state="unread">
        <span><%= link_to 'Mark as unread', mark_as_read_url(tyml), :method => 'put' %></span>
      </div>
    <% else %>
      <div class="tyml-viewed" data-state="read">
        <span><%= link_to 'Mark as read', mark_as_read_url(tyml), :method => 'put' %></span>
      </div>
    <% end %>

  <header class="tyml-header">
    <div class="tyml-profile-image"><%= image_tag tyml.sender.profile_pic %></div>
    <p class="tyml-user"><%=  tyml.sender.name %> <span class="tyml-copy">thought you might like&hellip;</span></p>
    <p class="tyml-url"><%=  link_to tyml.url, tyml_url(tyml, :viewed => 'true'), :method => 'put', :title => tyml.url, :target => '_blank' %></p>
  </header>

  <div class="tyml-content-wrap">
    <div class="tyml-note">
      <% unless tyml.note.blank? %>
        <p><%=  tyml.note %></p>
      <% end %>
      <time datetime="<%= tyml.created_at %>"><%= "#{time_ago_in_words(tyml.created_at)} ago" %>
        <% unless tyml.sender == @current_user && tyml.sender.email != tyml.receiver.email %>
         / <%#= link_to 'Archive', archive_url(:id => tyml.id), :method => 'put', :remote => true %>
        <% end %>
      </time>
    </div>

    <div class="comments-container">
      <div id="tyml_comments_<%= tyml.id %>">
  <% tyml.comments.each do |comment| %>

    <%= render 'comments/comment', :comment => comment %>

          <% end %>
        </div>
        <%= render 'comments/comment_form', :tyml => tyml %>
      </div>
    </div>
  </div>
</div>
