<div class="tyml-container group" id="tyml_<%= tyml.id %>">
    <% unless tyml.receiver.blank? %>
    <div class="tyml-profile-image"><%= image_tag tyml.receiver.profile_pic %></div>
    <% end %>
    <p class="tyml-user"><span class="tyml-copy">You thought</span>

    <% if tyml.receiver.name %>
      <%=  tyml.receiver.name %>
    <% else %>
      <%= tyml.receiver.email %>
    <% end %>

  <span class="tyml-copy">might like&hellip;</span></p>
    <div class="tyml-content-wrap">
      <p class="tyml-url"><%=  link_to tyml.url, tyml.url, :target => '_blank' %></p>
      <% unless tyml.note.blank? %>
        <p class="tyml-note"><%=  tyml.note %></p>
      <% end %>
      <div class="comments-container">
        <% tyml.comments.each do |comment| %>
          <%= render '/comments/comment', comment: comment %>
        <% end %>
        <%= render '/comments/comment_form', tyml: tyml %>
      </div>
    </div>
  </div>
