<div id="tyml_<%= tyml.id %>">

  <div class="tyml-container group" >

  <header class="tyml-header">
    <nav>
      <a class="reshare icon-share" href="#share" data-behavior="share-tyml" data-url="<%= tyml.url %>">$</a>
      <%= link_to '#', tyml_url(tyml), :class => 'icon-delete', :method => 'delete', :remote => true, :confirm => "Are you sure you want to delete this TYML?" %>
    </nav>
      <div class="tyml-profile-image" style="background-image: url(<%= tyml.receiver.profile_pic %>)"></div>



    <% if tyml.statement.blank? %>
      <span class="tyml-copy">You thought <span class="tyml-user"><%= tyml.receiver.name.blank? ? tyml.receiver.email : tyml.receiver.name %></span> might like&hellip;</span>
    <% else %>
      <p class="tyml-copy">You thought <span class="tyml-user"><%= tyml.receiver.name.blank? ? tyml.receiver.email : tyml.receiver.name %></span> might like this because&hellip;</p>
      <p class="tyml-because"><%= tyml.statement %></p>
    <% end %>
    <p class="tyml-url"><%=  link_to tyml.url, tyml.url, :title => tyml.url, :target => '_blank' %></p>
  </header>

  <div class="tyml-content-wrap">
    <div class="tyml-note">

      <time datetime="<%= tyml.created_at %>"><%= "#{time_ago_in_words(tyml.created_at)} ago" %></time>
    </div>

      <div class="comments-container">
        <% tyml_comments = tyml.comments %>
        <% unless (tyml_comments.empty?) %>
          <% tyml.comments.to_a.each do |comment| %>
            <%= render 'comments/comment', :comment => comment %>
          <% end %>
        <% end %>
        <%= render '/comments/comment_form', tyml: tyml %>
      </div>
    </div>
  </div>
</div>
