<div id="tyml_<%= tyml.id %>">
  <div class="tyml-container group">
    <% if tyml.viewed %>
      <div class="tyml-viewed" data-state="unread">
        <span><%= link_to 'Mark as unread', mark_as_read_url(tyml), :method => 'put' %></span>
      </div>
    <% else %>
      <div class="tyml-viewed" data-state="read">
        <span><%= link_to 'Mark as read', mark_as_read_url(tyml), :method => 'put' %></span>
      </div>
    <% end %>

  <header class="tyml-header">
    <% if tyml.sender.profile_pic.blank? %>
      <div class="tyml-profile-image"><%= image_tag asset_path('default_avatar.png') %></div>
    <% else %>
      <div class="tyml-profile-image"><%= image_tag tyml.sender.profile_pic %></div>
    <% end %>
    <p class="tyml-user"><%=  tyml.sender.name %> <span class="tyml-copy">thought you might like&hellip;</span></p>
    <p class="tyml-because">You like movies and stuff</p>
    <p class="tyml-url"><%=  link_to tyml.url, tyml.url, :title => tyml.url, :target => '_blank' %></p>
  </header>



  <div class="tyml-content-wrap">
    <div class="tyml-note">
      <% unless tyml.note.blank? %>
        <p><%=  tyml.note %></p>
      <% end %>
      <time datetime="<%= tyml.created_at %>"><%= "#{time_ago_in_words(tyml.created_at)} ago" %>

         / <%= link_to 'Archive', archive_or_unarchive_url(tyml), :method => 'put', :remote => true %>
         / <%= link_to 'Delete', tyml_url(tyml), :method => 'delete', :remote => true %>
      </time>
    </div>

    <div class="comments-container">
      <div id="tyml_comments_<%= tyml.id %>">
        <% tyml.comments.each do |comment| %>
          <%= render 'comments/comment', :comment => comment %>
        <% end %>
      </div>
        <%= render 'comments/comment_form', :tyml => tyml %>
      </div>
    </div>
  </div>
</div>
