// <a href="javascript:var s = document.createElement('script');s.type='text/javascript';s.src='<%= new_tyml_url.gsub('http:','') %>';document.body.appendChild(s);">bookmarklet</a>


var x;
x = document.createElement('script');
x.type='text/javascript';
x.src='<%= root_url.gsub('http:', '') + asset_path("jquery.js") %>';
document.body.appendChild(x);

x = document.createElement('script');
x.type='text/javascript';
x.src='<%= root_url.gsub('http:', '') + asset_path("bootstrap.js") %>';
document.body.appendChild(x);

x = document.createElement('link');
x.rel="stylesheet";
x.type='text/css';
x.href='<%= root_url.gsub('http:', '') + asset_path("bookmarklet.css") %>';
document.body.appendChild(x);

x = document.createElement('script');
x.type='text/javascript';
x.src='<%= root_url.gsub('http:', '') + asset_path("bookmarklet.init.js") %>';
document.body.appendChild(x);



$('body').delay(35).prepend('<%= j(render '/layouts/share-modal', tyml: Tyml.new) %>');
$('#tyml_url').val( $(location).attr('href') );
$('.modal-overlay').delay(35).fadeIn();


