<div class="my-account-content">
<ul>
<%= form_for @current_user do |f| -%>
<li>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Name', value: @current_user.name %>
  </li>
<li>
  <%= f.check_box :receive_new_tyml_notifications %>
  <%= f.label :receive_new_tyml_notifications, "Receive an email when someone sends you a TYML." %>
</li>
<li>
  <%= f.check_box :receive_comment_notifications %>
  <%= f.label :receive_comment_notifications, "Receive an email when someone sends you a comment." %>
</li>
<li class="align-center">
  <%= f.submit 'Update Settings' %>

<% end -%>
</ul>
</div>

<div class="container">
  Archived TYMLs
  <% @archived_tymls.each do |tyml| %>
    <%= render '/tymls/tyml_received_partial', tyml: tyml %>
  <% end %>
</div>
