<div class="my-account-content">
<ul>
<%= form_for @current_user, :html => {:multipart => true} do |f| -%>
<li>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Name', value: @current_user.name %>
</li>
<li>
  <%= f.label :profile_pic, "Your avatar" %><%= f.file_field :profile_pic %>
  <p><img src="<%= @current_user.profile_pic %>" width="200"></p>
</li>
<li>
  <%= f.check_box :receive_new_tyml_notifications %>
  <%= f.label :receive_new_tyml_notifications, "Receive an email when someone sends you a TYML." %>
</li>
<li>
  <%= f.check_box :receive_comment_notifications %>
  <%= f.label :receive_comment_notifications, "Receive an email when someone sends you a comment." %>
</li>
<li class="align-center">
  <%= f.submit 'Update Settings' %>

<% end -%>
</ul>
<a href="javascript:var s = document.createElement('script');s.type='text/javascript';s.src='<%= new_tyml_url.gsub('http:','') %>';document.body.appendChild(s);">bookmarklet</a>

</div>

<div class="container">
  Archived TYMLs
  <% @archived_tymls.each do |tyml| %>
    <%= render '/tymls/tyml_received_partial', tyml: tyml %>
  <% end %>
</div>
