<h2>Hey!</h2>

<h3><%= @tyml.sender.name %> Thought You Might Like...</h3>

      <p><%= link_to "#{@tyml.url}", @tyml.url %></p>

      <p>Because: <%= @tyml.statement %></p>

      <p><em>- <%= @tyml.sender.name %></em></p>

    <% if @tyml.receiver.confirmed %>
      <p><%= link_to "Reply from your TYML dashboard", root_url %></p>
    <% else %>
      <p><%= link_to "Reply by signing up for TYML", root_url %></p>
    <% end %>
<p><strong>TYML is the best way to share content with people you care about.

