<% if controller_name == 'sessions' || controller_name == 'create_accounts' %>

<header class="header" role="banner">
  <div class="container">
    <nav>
      <% if controller_name == 'sessions' %>
        <%= link_to "Sign up", signup_url, :class => 'nav-button' %><br />
      <% else %>
        <%= link_to "Sign in", signin_url, :class => 'nav-button' %><br />
      <% end %>
    </nav>
  </div>
</header>
<h1 class="logo-send">
  <%= link_to "TYML", root_url %>
<h1>
<h2 class="tagline-send">
  The best way to share content<br />with the people you care about.
</h2>
<% else %>
<header class="header group" role="banner">
  <div class="container">
    <nav>
      <%= (link_to "TYML", dashboard_url, :class => 'logo') unless @current_user.nil? %>
      <%= link_to "Dashboard", dashboard_url unless @current_user.nil? %>
      <a href="#share" data-behavior="share-tyml">Share</a>
      <%= link_to "Sent", sent_url unless @current_user.nil? %>
      <%= (link_to "Sign-out", signout_url, :method => 'delete') unless @current_user.nil? %>
    </nav>
  </div>
</header>
<% end %>
