<% if controller_name == 'sessions' || controller_name == 'registrations' %>

<header class="header" role="banner">
  <div class="container">
    <nav>
      <%= link_to "Sign up", new_user_registration_url, :class => 'nav-button' %><br />

      <%= link_to "Sign in", new_session_url, :class => 'nav-button' %><br />

    </nav>
  </div>
</header>
<h1 class="logo-send">
  <%= link_to "TYML", tymls_url %>
<h1>
<h2 class="tagline-send">
  The best way to share content<br />with the people you care about.
</h2>
<% else %>
<header class="header group" role="banner">
  <div class="container">
    <nav>
      <%= (link_to "TYML", dashboard_url, :class => 'logo') unless @current_user.nil? %>
      <%= link_to "Dashboard", dashboard_url unless @current_user.nil? %>
      <a href="#share" data-behavior="share-tyml">Share</a>
      <%= link_to "Sent", sent_url unless @current_user.nil? %>
      <%= (link_to "Sign-out", sessions_url, :method => 'delete') unless @current_user.nil? %>
    </nav>
  </div>
</header>
<% end %>
