<% if controller_name == 'sessions' || controller_name == 'registrations' %>

<header class="header" role="banner">
  <div class="container">
    <nav>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name), :class => 'nav-button' %><br />
      <% end -%>
      <%- if controller_name != 'sessions' %>
        <%= link_to "Sign in", new_session_path(resource_name), :class => 'nav-button' %><br />
      <% end -%>
    </nav>
  </div>
</header>
<h1 class="logo-send">
  <%= link_to "TYML", tymls_url %>
<h1>
<h2 class="tagline-send">
  The best way to share content<br />with the people you care about.
</h2>
<% else %>
<header class="header group" role="banner">
  <div class="container">
    <nav>
      <%= (link_to "TYML", dashboard_url, :class => 'logo') if user_signed_in? %>
      <%= link_to "Dashboard", dashboard_url if user_signed_in? %>
      <a href="#share" data-behavior="share-tyml">Share</a>
      <%= link_to "Sent", sent_url if user_signed_in? %>
      <%= (link_to "Sign-out", destroy_user_session_path, :method => 'delete') if user_signed_in? %>
    </nav>
  </div>
</header>
<% end %>