<% if controller_name == 'sessions' || controller_name == 'create_accounts' || controller_name == 'reset_passwords' %>

<header class="header" role="banner">
  <div class="container">
    <nav>
      <% if controller_name == 'sessions' %>
        <%= link_to "Sign up", signup_url, :class => 'nav-button' %><br />
      <% else %>
        <%= link_to "Sign in", signin_url, :class => 'nav-button' %><br />
      <% end %>
    </nav>
  </div>
</header>
<div class="container">
  <h1 class="logo-send">
    <%= image_tag asset_path('logo-large.png'), :class => 'logo-home' %>
  <h1>
  <h2 class="tagline">
    The best way to share the web with friends.
  </h2>
</div>
<% elsif @current_user.present? %>
<header class="header group" role="banner">
  <div class="container">
    <nav>
      <%= image_tag asset_path('logo.png'), :class => 'logo' %>
      <%= link_to "Dashboard", dashboard_url %>
      <a href="#share" data-behavior="share-tyml">Share</a>
      <%= link_to "Sent", sent_url %>
      <%= link_to "My Account", settings_url %>
      <%= link_to "Sign-out", signout_url, :method => 'delete' %>
    </nav>
  </div>
</header>
<% end %>
