<div class="modal-overlay">
  <div class="share-container">
     <div class="note-form">
    <h3>Thought you might like&hellip;</h3>

<%= javascript_tag "var autocomplete_items = #{ @autocomplete_items.to_json };" %>

<%= form_for(Tyml.new, url: tymls_url, method: 'post', remote: true) do |f| %>

    <%= f.label :receiver_id, 'You think...' %>
    <%= f.text_field :receiver_id, :placeholder => "Email(s)", :id => "auto_complete", :autocomplete => "off" %>

    <%= f.label :url, 'Might like...' %>
    <%= f.text_field :url, :placeholder => "URL" %>

    <%= f.label :statement, 'Because... (Optional)' %>
    <%= f.text_field :statement, :placeholder => "Reason", :autocomplete => "off" %>

    <%= f.label :note, 'Note (Optional)' %>
    <%= f.text_area :note, :rows => "2" %>

    <%= f.hidden_field :sender_id, :value => @current_user.id unless @current_user.nil? %>

    <div class="input-container">
      <%= f.submit "Share" %>
    </div>
  </div>

<% end -%>

  </div>
</div>
