<!DOCTYPE html>
<html>
<head>
  <title>TYML</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/xhm7oux.js"></script> <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <%= render 'layouts/header' %>

<p class="alert"><%= alert %></p>

<%= yield %>
<% if controller_name != 'sessions' && controller_name != 'registrations' %>
  <%= render 'tymls/share-modal' %>
<% end %>


</body>

</html>
